<h1>Расписание полетов Уфа - ...</h1>
<div class="row">
  <div class="col-lg-6">
    <h3>Прибытие</h3>
    <%= render partial: 'tablo', locals: {tablo: @tablo_in, direction: 'Откуда'} %>
  </div>

  <div class="col-lg-6">
    <h3>Отправление</h3>
    <%= render partial: 'tablo', locals: {tablo: @tablo_out, direction: 'Куда'} %>
  </div>
</div>
