<!DOCTYPE html>
<html>
<head>
  <title>Airport - расписание самолетов и подбор дешевых билетов, Аэропорт Уфа</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <noindex>
    <div class="head">
      <script charset="utf-8" async="true" src="//www.travelpayouts.com/widgets/19d5d6ae348406549b87213dded3a993.js?v=323"></script>
    </div>
  </noindex>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <noindex>
    <div class="map">
      <iframe src="//maps.travelpayouts.com/flights/?auto_fit_map=true&hide_sidebar=true&hide_reformal=true&disable_googlemaps_ui=true&zoom=3&show_filters_icon=true&redirect_on_click=true&small_spinner=true&hide_logo=true&direct=false&lines_type=TpLines&cluster_manager=TpWidgetClusterManager&marker=48532.map&show_tutorial=false&locale=ru&host=map.aviasales.ru&origin_iata=UFA" width="100%" height="540px" scrolling="no" frameborder="0"></iframe>
    </div>
    <div class="footer">

      <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27418109 = new Ya.Metrika({id:27418109, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27418109" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

      <a href="http://aomega.co" class="powered" title="Разработка веб-приложений, Интернет сайтов, стартапов на Ruby on Rails"><strong>aömega</strong> | project</a>

    </div>
  </noindex>
</body>
</html>
